<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="app">
      <nav>
        <a href="/"><img src="https://www.dbschenker.com/blueprint/themes/schenker/dist/00b689b8/img/db-logo.svg" alt=""></a>
        <h1>Panel kierowcy</h1>
      </nav>
      <div v-if="page === 0" class="page login">
        <div class="">
          Podaj swoje id auta:
        </div>
        <div class="">
          <input type="number" name="" value="" v-model="vehicleNr">
          <button type="button" name="button" @click="nextPage">Zaloguj</button>
        </div>
      </div>
      <div v-if="page === 1" class="page dane">
        <div class="vehicleNr">
          Samochód: {{vehicleNr}}
        </div>
        <div class="arrivalTime">
          dane:
          {{data}}
        </div>
        <div class="gateNr">
          placeholder
        </div>
      </div>
      <div class="pageNr">
        {{page}}
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">
var app = new Vue({
  el: '#app',
  data: {
    login: true,
    vehicleNr: 1234,
    page: 0,
    data: null
  },
  watch: {
  },
  computed: {
  },
  mounted () {
  },
  methods: {
    nextPage () {
      if (this.page === 0) {
        this.getData()
      }
      this.page++
    },
    getData () {
      let self = this
      axios.get(`https://httpbin.org/get?vehicle=${this.vehicleNr}`)
        .then(function (response) {
          self.data = JSON.stringify(response.data.args)
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  filters: {
  }
})
</script>

<style media="screen">

</style>
